---
import Layout from "../layouts/Layout.astro";
import InfoBlock from "../components/home/InfoBlock.astro";
import { partners } from "../data/partners";
import { partnerLogos } from "../data/partnerLogos";
import PartnerSlider from "../components/partners/PartnerSlider.astro";

---

<Layout>
  <main>
    <section class="container-page my-10 md:my-14 text-center">
      <h1 class="text-4xl md:text-5xl font-extrabold tracking-wide">Partners & Sponsors</h1>
      <p class="mt-4 text-gray-50/85 max-w-3xl mx-auto">
        We’re proud to collaborate with studios, community spaces, and companies that support students in game development.
      </p>
    </section>

    <PartnerSlider logos={partnerLogos} height={200} maxWidth={220} speed="normal" gap={80} />

    {partners.map((p, i) => (
      <InfoBlock
        title={p.name}
        imageSrc={(p.image ? p.image.src : "/placeholder.png")} 
        imageAlt={p.imageAlt ?? `${p.name} image`}
        ctaHref={p.website}
        ctaLabel={p.website ? "Visit Website" : undefined}
        reverse={i % 2 === 1}
      >
        {p.paragraphs.map((txt) => <p>{txt}</p>)}
      </InfoBlock>
    ))}
  </main>
</Layout>
