---
export interface Props {
  title: string;
  children?: any; // description goes in slot
  imageSrc?: string;
  imageAlt?: string;
  href?: string;
  cta?: string;
}

const { title, imageSrc, imageAlt = "", href, cta = "Learn More" } = Astro.props;
---

<article
  class="flex h-full flex-col gap-5 rounded-3xl border border-white/30 bg-white/5 p-6 shadow-2xl shadow-black/50 backdrop-blur-3xl md:min-h-96 md:p-8">
  <!-- Title -->
  <h5 class="my-4 text-5xl font-extrabold tracking-wide">{title}</h5>

  <div class="text-lg leading-relaxed text-gray-50/85">
    <slot />
  </div>

  {
    imageSrc && (
      <img
        src={imageSrc}
        alt={imageAlt}
        loading="lazy"
        class="max-h-60 rounded-xl border border-white/10 object-cover"
      />
    )
  }

  {
    href && (
      <div class="mt-2">
        <a
          href={href}
          class="btn-outline btn rounded-full border border-white/30 px-5 py-2">
          {cta}
        </a>
      </div>
    )
  }
</article>
